# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.x.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build (Release)
      run: dotnet build --configuration Release --no-restore
      
    - name: Test (Release)
      run: dotnet test --configuration Release --no-build --no-restore

    - name: Pack (Release)
      run: dotnet pack --configuration Release --output .\nuget --no-build --no-restore

    - name: Publish
      if: github.event_name == 'workflow_dispatch' # manually run
      run: |
          if ( "${{github.ref}}" -match "^refs/tags/[0-9]+\.[0-9]+\.[0-9]+$" ) {
              dotnet nuget push .\nuget\*.nupkg -s nuget.org -k ${{secrets.NUGET_TOKEN}} --skip-duplicate
          } else {
              echo "publish is only enabled by tagging with a release tag"
          }
